@model SmartGrid2021Project.Models.SafetyDocument

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SafetyDocument</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SafetyDocType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SafetyDocType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkCompleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkCompleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagsRemoved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagsRemoved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroundingRemoved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroundingRemoved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReadyForService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReadyForService)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
